@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  :root {
    --background: 224 71% 4%; /* #020817 */
    --foreground: 210 40% 98%; /* #f8fafc */
    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 81 68% 53%; /* #9ada34 */
    --primary-foreground: 212 29% 19%; /* #1a2435 */
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 81 68% 53%;
    --radius: 0.5rem;
    --sidebar-background: 219 36% 16%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 81 68% 53%;
    --sidebar-primary-foreground: 200 15% 23%;
    --sidebar-accent: 219 36% 22%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 219 36% 22%;
    --sidebar-ring: 81 68% 53%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 81 68% 53%;
    --primary-foreground: 212 29% 19%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 81 68% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no-scroll {
  overflow: hidden;
}
